@using Westwind.AspNetCore.Markdown
@model IEnumerable<ITNews.Domain.Contracts.ViewModels.NewsViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-md-6">
						<div id="@item.NewsId-news-body" class="card bg-light mb-3" style="margin-bottom:16px;">
							<div class="card-body">
								<div class="row">
									<div class="col-12">
										<a asp-action="Profile" asp-controller="User" asp-route-userName="@item.User.UserName"><strong>@item.User.UserName (@item.User.Likes.Count())</strong></a><span class="text-muted"> @ViewData["At"] @item.Created</span>
									</div>
									<div class="col-12">
										@if (!item.IsAllowed)
										{
											<span class="badge badge-info">@ViewData["NotAllowed"].ToString()</span>
										}
										<span class="badge badge-danger">@item.Section.Name</span>
										@foreach (var tag in item.Tags)
										{
											<span class="badge badge-primary">@tag.Tag.Name</span>
										}
									</div>
									<div class="col-12">
										<h4>
											@if (item.OutUrl != null)
											{
												<a href="@item.OutUrl">@item.Title</a>
											}
											else
											{
												@Html.ActionLink(item.Title, "Details", new { newsId = item.NewsId })
											}
										</h4>
									</div>
								</div>
								<div>
									<img class="rounded" src="@item.Description" alt="@item.NewsId-img" style="width:100%; height:auto;" />
								</div>

								@if (item.Ratings.Count() > 0)
								{
									var rating = (int)(item.Ratings.Select(x => x.Rating).Average() * 100);
									<div class="progress" style="width:100%;">
										<div class="progress-bar bg-success" role="progressbar" style="width: @rating%" aria-valuemin="0" aria-valuemax="100">@rating%</div>
									</div>
								}

								@if (item.User.UserName == User.Identity.Name || User.IsInRole("admin"))
								{
									@Html.ActionLink(ViewData["Edit"].ToString(), "Edit", new { newsId = item.NewsId })
									<span> | </span>
									@Html.ActionLink(ViewData["Delete"].ToString(), "Delete", new { newsId = item.NewsId })
									if (!item.IsAllowed)
									{
										<span> | </span>
										@Html.ActionLink(ViewData["Allow"].ToString(), "Allow", new { newsId = item.NewsId })

									}
								}
							</div>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="col-md-4">
			<form>
				<div class="card bg-light mb-3" style="max-width: 20rem;">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 col-sm-4 col-lg-8" style="padding-right:0; width:inherit;">
								<input class="form-control" type="text" placeholder="@ViewData["Search"]" name="searchString">
							</div>
							<div class="col-md-6 col-sm-4 col-lg-4">
								<button class="btn btn-secondary" type="submit">@ViewData["Search"]</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="card bg-light mb-3" style="max-width: 20rem;">
				<div class="card-header">@ViewData["TopOfTheLast7Days"]</div>
				<div class="card-body">
					@foreach (var item in Model.Where(x => x.Ratings.Count() > 0 && ((DateTime.Now.Date - x.Created).Days < 7)).OrderByDescending(x => x.Ratings.Average(rate => rate.Rating)).Take(5))
					{
						<p>
							<a asp-action="Details" asp-controller="News" asp-route-newsId="@item.NewsId"><strong>@item.Title</strong></a> <span class="badge badge-danger">@item.Section.Name</span> <span>-</span> <span>@((int)(item.Ratings.Average(rate => rate.Rating) * 100))%</span>
						</p>
						<hr />
					}
				</div>
			</div>
			<div class="card bg-light mb-3" style="max-width: 20rem;">
				<div class="card-header">@ViewData["TagCloud"]</div>
				<div class="card-body">
					@foreach (var item in (Dictionary<string, int>)ViewData["tagSize"])
					{
						<a asp-action="Index" asp-controller="News" asp-route-searchString="@item.Key"><span style="font-size:@(item.Value)px">@item.Key</span></a>
					}
				</div>
			</div>
			@if (User.IsInRole("admin"))
			{
				<div class="card bg-light mb-3" style="max-width: 20rem;">
					<div class="card-body">
						<a asp-action="ParseNews" asp-controller="News" class="btn btn-danger">Parse news</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>

